<head>
	{% if page.title %}
		<title>{{ page.title }} | Test Page</title>
	{% else %}
  	<title>Test Page: Don't Panic</title>
  {% endif %}
  <meta property="og:title" 
  	content="{% if page.title %}{{ page.title }}{% else %}Test Page{% endif %}" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content"/images/apple-touch-icon.png" />
  <meta property="og:url" content="https://westlawn.org{{ page.url }}" />
  {% if page.description %}
  	<meta property="og:description" content="{{ page.description }}" />
  {% else %}
  	<meta property="og:description" content="This is a dangerous site." />
  {% endif %}
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="Test Page" />
	<link href="/images/favicon.png" rel="icon">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/reset.css">
  <link href="https://fonts.googleapis.com/css?family=Monoton|Open+Sans|Raleway:100" rel="stylesheet">
  <link rel="stylesheet" 
  	href="/fonts/font-awesome-4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="/css/main.css">
</head>